body {
    background: #11142b;
    margin: 20px;
}

p {
    font-family: monospace;
    color: aliceblue;
}

.data_text {
    color: rgb(120, 127, 134);
}

.weather-icon {
  display: inline-block;
  width: 10em;
}

.ascii_button {
  appearance: none;
  background-color: aliceblue;
  color: rgb(0, 0, 0);
  border: none;
/*   border-radius: 4px; */
  padding: 4px 8px;
/*   font-size: 16px; */
  font-family: monospace;
  text-decoration: none;
  cursor: pointer;
}